
.card {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    margin: 20px;
  }
  
  .card-img-top {
    max-height: 200px;
  }
  
  .card-title {
    font-size: 20px;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 16px;
    margin-top: 10px;
  }