
<div class="container bg-white mt-4 mb-4 rounded-4" >
  <div class="d-flex justify-content-center align-item-center "  >
          <div class="p-2 ">
              <p class="text-center" style="font-size: 30px;">ค้นหาสลาก</p>
              
              
              <div class="d-flex justify-content-center align-items-center">
                
                <div class="d-inline-flex ">
                  <span   style="display: flex;flex-direction: row;"   > 
                      <mat-form-field    style="margin-right: 10px;" >
                        <mat-label>คำค้นหา</mat-label>
                        <mat-select  [(ngModel)]="keyword"  >
                          <mat-option value="last3digit" class="active"> 3 เลขท้าย</mat-option>
                          <mat-option value="draw_no"> งวดที่ </mat-option>
                          <mat-option value="set_no"> ชุดที่ </mat-option>
                        </mat-select>
                      </mat-form-field>
                    <div class="d-flex flex-row  mb-3"  *ngIf="keyword==='last3digit'" >
                
                      <div class="m-2">
                        <input type="number" class="form-control input-size" size="1" maxlength="1" [(ngModel)]="digit_1"  max="9" min="0">
              
                      </div>
                      <div class="m-2">
                          <input type="number" class="form-control input-size"  size="1" maxlength="1"  [(ngModel)]="digit_2" max="9" min="0">
                      </div>
                      <div class="m-2">
                        <input type="number" class="form-control input-size" size="1" maxlength="1"  [(ngModel)]="digit_3"  max="9" min="0">
                        <input type="hidden" *ngIf="keyword==='last3digit'" value="{{last3digit}}" [(ngModel)]="value" >
                       </div>
                    
            
                    </div>
                    <mat-form-field class="col-5"  color="primary"   *ngIf="keyword!='last3digit'"    >
 
                        <input matInput  size="20px"    placeholder="keyword"  [(ngModel)]="value"  value=""   >
                        <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                            <mat-icon>close</mat-icon>
                        </button>
                        
                        
                    </mat-form-field>
                   
                   <button  class="ms-2 text-bg-dark" mat-raised-button color="primary"
                   style="position:relative;height: 55px;" (click)="SearchLotterybyKeyword(keyword,value)"><mat-icon style="font-size: 20px;">search</mat-icon></button>
                </span>
                  
                </div>  
              </div>
                
                
            
            
              
          </div>
          <span><p-toast></p-toast></span>

  </div>
  <div class="row justify-content-center align-item-center">
    <ng-container *ngFor="let lottery of lotteries" >
                  
      <mat-card class="col-4 m-3 p-1" style="background-color: rgb(232, 255, 253);">
        <div style=" position: relative;">
          <span style="top: 0; left: 0; margin-left: 1em;"><img src="../../../assets/image/lottery_logo.gif" width="5%">&nbsp;&nbsp;สลากกินแบ่งรัฐบาล</span>
        </div>
        <div class="mt-2" style="display: flex; flex-direction: row; margin-left: 20px;">
          <span class="rounded-1 p-1" style="font-size: 35px; background-color: rgb(182, 225, 255);">{{ lottery.lottery_number }}</span>
          <span class="ms-2" style="font-size: 15px;">&nbsp;งวดที่ <br><span style="margin-left: 10px;">{{ lottery.draw_no }}</span></span>
          <span class="ms-2" style="font-size: 15px;">&nbsp;ชุดที่ <br><span style="margin-left: 10px;">{{ lottery.set_no }}</span></span>
          <span *ngIf="IsLoggedIn && user.roles=='member'" class="ms-4"><button mat-raised-button color="primary" (click)="addToCart(lottery)"  ><mat-icon>add</mat-icon> <mat-icon>shopping_cart</mat-icon></button></span>
          <span *ngIf="!IsLoggedIn" class="ms-4"><button mat-raised-button color="primary" disabled>เลือก</button></span>
        </div>
        <div class="m-2" style="display: flex; flex-direction: row;justify-content: space-between;" >
          <span style="font-size: 16px;">ร้าน Lotto Shop</span>
          <span style="font-size: 16px;">ราคา {{lottery.price}} บาท</span>
        </div>
        
         
      </mat-card>

       
    </ng-container>
  </div>
</div>