<nav class="navbar navbar-expand-lg navbar-dark bg-navbar"  > <!--bg-dark-->
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/"> {{ title }} </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ">
        <li *ngIf="!isLoggedIn" class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/lottery">ค้นหาสลาก</a>
        </li>
        <div *ngIf="isLoggedIn">
          
            <li *ngIf="!IsAdmin" class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/member/lottery">ค้นหาสลาก</a>
            </li>
            <li *ngIf="IsAdmin" class="nav-item ">
              <div class="d-flex flex-row">
                <button class="nav-link" ><a  routerLink="/admin/dashboard" style="color: white;text-decoration: none;">รายงานการซื้อ</a></button>
                <button class="nav-link active" aria-current="page" [matMenuTriggerFor]="admin_menu">จัดการ</button>
                <mat-menu  #admin_menu="matMenu">
                  <button mat-menu-item>
                    
                    <a routerLink="/admin/lottery" style="color: rgb(0, 0, 0); text-decoration: none;"> <mat-icon>search</mat-icon>ค้นหาสลาก</a>
                  </button>
                  <button mat-menu-item>
                    
                    <a routerLink="/admin/lottery/manage" style="color: rgb(0, 0, 0); text-decoration: none;"><mat-icon>edit</mat-icon>จัดการสลาก</a>
                  </button>
                
                </mat-menu>

              </div>
              

            </li>
        </div>

      </ul>
      <ul class="nav navbar-nav  " style="margin-left: auto; display: flex; flex-direction: row;">
        <div *ngIf="!isLoggedIn" class="d-inline-flex">
            <li >
              <button routerLink="/login" class="  btn" style="color: white; text-decoration: none;" >เข้าสู่ระบบ</button>
            </li>
            <li  >
              <a routerLink="/register" class="  btn btn-light" style="color: rgb(7, 7, 7); text-decoration: none;"  >สมัครสมาชิก</a>
            </li>
        </div>
        <div *ngIf="isLoggedIn && !IsAdmin">
            <li  >
              <!-- แสดงเมนูหรือส่วนอื่น ๆ สำหรับผู้ใช้ที่ลงทะเบียนและล็อกอินเรียบร้อย -->
              <!-- เช่น เมนู Logout หรือรายละเอียดของผู้ใช้ -->
              <a   style="color: white;text-decoration: none;" mat-button (click)="OpenCart()">
                  <mat-icon >shopping_cart</mat-icon>ตะกร้า
                  <p-badge [value]="'+' + cartItemCount.toString()" severity="danger" [hidden]="IsCartEmpty()"></p-badge>
                </a>
              <a style="color: white;text-decoration: none;" routerLink="#" mat-button [matMenuTriggerFor]="history_menu"><mat-icon>history</mat-icon></a>
              <mat-menu #history_menu="matMenu">
                  <button mat-button><a [routerLink]="['/member/lottery/history', user.user_id]"
                  routerLinkActive="router-link-active"  style="color: rgb(0, 0, 0); text-decoration: none;" >ประวัติการซื้อสลาก</a></button>
              </mat-menu>
              

              <button style="color: white; text-decoration: none;" mat-button [matMenuTriggerFor]="menu"><mat-icon>account_circle</mat-icon></button>
              <mat-menu  #menu="matMenu">
                <!-- <button mat-menu-item>
                  <i class="pi pi-user"  ></i>
                  <a routerLink="/member" style="color: rgb(0, 0, 0); text-decoration: none;"><span >&nbsp;&nbsp;โปรไฟล์ของคุณ</span></a>
                </button> -->
                <div class="container"><p>สวัสดีคุณ {{user.fullname}}</p></div>
                <button mat-menu-item>
                  <mat-icon>logout</mat-icon>
                  <a routerLink="/login" style="color: rgb(0, 0, 0); text-decoration: none;" (click)="Logout()"><span>ออกจากระบบ</span></a>
                </button>
              </mat-menu>
           
            </li>
        </div>
        <div *ngIf="isLoggedIn &&IsAdmin">
          <li >
            <!-- แสดงเมนูหรือส่วนอื่น ๆ สำหรับผู้ใช้ที่ลงทะเบียนและล็อกอินเรียบร้อย -->
            <!-- เช่น เมนู Logout หรือรายละเอียดของผู้ใช้ -->
            <div class="m-0">
              <p class="d-inline" style="color: aliceblue;">สวัสดีคุณแอดมิน {{user.fullname.split(' ')[0]}}</p>
              <button class="ms-1" style="color: white; text-decoration: none;" mat-button [matMenuTriggerFor]="menu"><mat-icon>account_circle</mat-icon></button>
           
            </div>
             <mat-menu  #menu="matMenu">
              <!-- <button mat-menu-item>
                <mat-icon>account_circle</mat-icon>
                <a routerLink="/admin" style="color: rgb(0, 0, 0); text-decoration: none;"><span >โปรไฟล์ของคุณ</span></a>
              </button> -->
               

              <button mat-menu-item>
                <mat-icon>logout</mat-icon>
                <a routerLink="/login" style="color: rgb(0, 0, 0); text-decoration: none;" (click)="Logout()"><span >ออกจากระบบ</span></a>
              </button>
            </mat-menu>
          </li>
        </div>
      </ul>
    </div>
  </div>
</nav>