.bg-navbar{
    background-color: #FF3CAC;
    background-image: linear-gradient(-200deg, #f92480 0%, #784BA0 50%, #2B86C5 100%);
    
}
 
.custom-badge {
    background-color: #ffffff; /* Set your desired background color */
    color: rgb(0, 0, 0); /* Set the text color to contrast with the background color */
  }
