<div class="container   me-auto p-2" style="position: absolute; width: 100%;">
    <div class="bg-white p-3 rounded-4 col-5 shadow-none" style="text-align: center;">
      <div class="p-2" >
        <div class="text-center p-1" style="font-size: 30px; font-weight: bold;">สมัครสมาชิก</div>
  
         
            <div  style="display: flex; flex-direction: column;" >
                 

                    <div class="m-2 ">
                        <mat-form-field class="col-11">
                            <mat-label>อีเมล</mat-label>
                            <input matInput type="email" [(ngModel)]="email"  >
                        </mat-form-field>
                    </div>
                    <div class="m-2">
                        <mat-form-field class="col-11">
                            <mat-label>รหัสผ่าน</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password"  >
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <div class="m-2">
                        <mat-form-field class="col-11">
                            <mat-label>ชื่อ-นามสกุล</mat-label>
                            <input matInput type="text" [(ngModel)]="fullname"  >
                        </mat-form-field>
                    </div>
                    <div class="m-2">
                        <mat-form-field class="col-11">
                            <mat-label>วันเกิด</mat-label>
                            <input matInput type="date" [(ngModel)]="birthdate"  >
                        </mat-form-field>
                    </div>
                    <div class="m-2">
                        <mat-form-field class="col-11">
                            <mat-label>เบอร์โทรศัพท์</mat-label>
                            <input matInput type="text" [(ngModel)]="phone_no"  >
                        </mat-form-field>
                    </div>
                 
                
                <button    class="col-4 mx-auto btn btn-primary" style="font-size: 20px; display: block;" (click)="onRegister()">
                    สมัคร
                </button>
                
            </div>
          
         
      </div>
    </div>
  </div>
  