/* Add custom styles for the hero section */
.hero {
    background-image: url('../../../assets/image/wallpaper.jpg'); /* Set your background image */
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 150px 0;
  }
  
  .hero h1 {
    font-size: 36px;
    font-weight: bold;
  }
  
  .hero p {
    font-size: 18px;
    margin-top: 20px;
  }
  
  /* Adjust styles as needed */
  /* สไตล์เพิ่มเติมสำหรับการ์ด */
.features {
  background-color: #f5f5f5;
  padding: 50px 0;
}
 
/* ปรับแต่งสไตล์ตามต้องการ */
