
<section class="hero">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Welcome to Lotto Shop <mat-icon>shopping_cart</mat-icon></h1>
          <p>Discover the amazing features of our platform.</p>
          <button pButton type="button" routerLink="/lottery" label="Search Lottery" class="p-button-primary"></button>
        </div>
        <div class="col-md-6">
          <!-- Add any additional content or images for your hero section here -->
        </div>
      </div>
    </div>
</section>
  
<section class="features ">
  <div class="d-flex justify-content-center align-items-center">

    <div class="row ">
      <div class="col-md-4">
          <app-card></app-card>
      </div>
      <div class="col-md-4"> 
          <app-card></app-card>
      </div>
      <div class="col-md-4">
          <app-card></app-card>
      </div>
      
  </div>

  </div>
    
</section>
