
<div class="container ">
    <h1 class=" text-light text-center">Welcum to Lottery Website</h1>
    <p class="h3 text-info text-center" >ซื้อวันนี้ ถูกวันหน้า</p>
    <p class="h3 text-info text-center" >ถูกหวย ?</p>
    <p class="h2 text-danger text-bg-dark fw-bold text-center" >ไม่ ถูกแดกก!</p>
    <div class="d-flex justify-content-center">
        <!img class="img-fluid" style="width: 70%;" src="https://i.kym-cdn.com/entries/icons/original/000/029/959/Screen_Shot_2019-06-05_at_1.26.32_PM.jpg"  >
        <img class="img-fluid" style="width: 70%;" src="https://www.thebalancemoney.com/thmb/gdvxx4u-WPB6pyL9Q3kiJtnmUY4=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/notstonks-7d82ebccce6d4960b42b2bc6c1670463.jpeg" alt="">    
    </div>
   </div>