
<div class="container">
   
    <div class="d-flex justify-content-center mt-4 mb-3">
        <!img class="img-fluid" style="width: 70%;" src="https://i.kym-cdn.com/entries/icons/original/000/029/959/Screen_Shot_2019-06-05_at_1.26.32_PM.jpg"  >
        <img class="img-fluid" style="width: 90%;" src="https://www.thebalancemoney.com/thmb/gdvxx4u-WPB6pyL9Q3kiJtnmUY4=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/notstonks-7d82ebccce6d4960b42b2bc6c1670463.jpeg" alt="">    
    </div>
</div>